<div ng-controller="ProductDetailController">
<section class="header_text sub">
    <img class="pageBanner" src="themes/images/pageBanner.png" alt="New products" >
    <h4><span>Product Detail</span></h4>
</section>
<section class="main-content">				
    <div class="row">						
        <div class="span9">
            <div class="row">
                <div class="span4">
                    <a ng-href="{{getAllProducts.image}}" class="thumbnail" data-fancybox-group="group1" title="{{getAllProducts.title}}"><img alt="{{getAllProducts.id}}" ng-src="{{getAllProducts.image}}"></a>												
                    <ul class="thumbnails small">
<!--                        for privious Product.-->
                        <li class="span1" ng-if="getAllProducts.id === 0">
                            <a ui-sref="app.productDetail({id: 7})" class="thumbnail" data-fancybox-group="group1" title="Previous Product"><img src="themes/images/ladies/4.jpg" alt=""></a>
                        </li>
                        <li class="span1"ng-if="getAllProducts.id > 0">
                            <a ui-sref="app.productDetail({id: getAllProducts.id-1})" class="thumbnail" data-fancybox-group="group1" title="Previous Product"><img src="themes/images/ladies/5.jpg" alt=""></a>
                        </li>
<!--                        for next product.-->
                        <li class="span1" ng-if="getAllProducts.id < 7">
                            <a ui-sref="app.productDetail({id: getAllProducts.id+1})" class="thumbnail" data-fancybox-group="group1" title="Next Product"><img src="themes/images/ladies/2.jpg" alt=""></a>
                        </li>								
                        <li class="span1" ng-if="getAllProducts.id === 7">
                            <a ui-sref="app.productDetail({id: 0})" class="thumbnail" data-fancybox-group="group1" title="Next Product"><img src="themes/images/ladies/3.jpg" alt=""></a>
                        </li>													
                    </ul>
                </div>
                <div class="span5">
                    <address>
                        <strong>Brand: </strong> <span> &nbsp;{{getAllProducts.Brand}}</span><br>
                        <strong>Product Code: </strong> <span> &nbsp;{{getAllProducts.product_code}}</span><br>
                        <strong>Reward Points: </strong> <span> &nbsp;{{getAllProducts.reward_points}}</span><br>
                        <strong>Availability: </strong> <span> &nbsp;{{getAllProducts.Availability}}</span><br>								
                    </address>									
                    <h4><strong>Price: {{getAllProducts.price |currency}}</strong></h4>
                </div>
                <div class="span5">
                    <form class="form-inline" name="quantityForm">
                        <label class="checkbox">
                            <input type="checkbox" value=""> Option one is this and that
                        </label>
                        <br/>
                        <label class="checkbox">
                            <input type="checkbox" value=""> Be sure to include why it's great
                        </label>
                        <p>&nbsp;</p>
                        <label>Qty:</label>
                        <input type="text" class="span1" placeholder="1" name="quantity" ng-model="quantity" required>
                        <div ng-show="quantityForm.quantity.$error.required && !quantityForm.quantity.$pristine" class="help-block" style="color: red;">Please fill product quantity</div>
                        <button class="btn btn-inverse" type="submit" ng-click="saveCart(quantity,getAllProducts)" ng-disabled="quantityForm.$invalid">Add to cart</button>
                    </form>
                </div>							
            </div>
            <div class="row">
                <div class="span9">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#home">Description</a></li>
                        <li class=""><a href="#profile">Additional Information</a></li>
                    </ul>							 
                    <div class="tab-content">
                        <div class="tab-pane active" id="home">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem</div>
                        <div class="tab-pane" id="profile">
                            <table class="table table-striped shop_attributes">	
                                <tbody>
                                    <tr class="">
                                        <th>Size</th>
                                        <td>Large, Medium, Small, X-Large</td>
                                    </tr>		
                                    <tr class="alt">
                                        <th>Colour</th>
                                        <td>Orange, Yellow</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>							
                </div>						
                <div class="span9">	
                    <br>
                    <h4 class="title">
                        <span class="pull-left"><span class="text"><strong>Related</strong> Products</span></span>
                        <span class="pull-right">
                            <a class="left button" href="{{url}}#myCarousel-1" data-slide="prev"></a><a class="right button" href="{{url}}#myCarousel-1" data-slide="next"></a>
                        </span>
                    </h4>
                    <div id="myCarousel-1" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="active item">
                                <ul class="thumbnails listing-products">
                                    <li class="span3" ng-repeat="getRelatedProdcut in getRelatedProdcuts" ng-if="($index < 4 && $index!==getAllProducts.id)">
                                        <div class="product-box">
                                            <span class="sale_tag"></span>												
                                            <a ui-sref="app.productDetail({type: productType ,id: getRelatedProdcut.id})"><img alt="{{getRelatedProdcut.id}}" ng-src="{{getRelatedProdcut.image}}"></a><br/>
                                            <a ui-sref="app.productDetail({type: productType ,id: featureProduct.id})" class="title">{{getRelatedProdcut.title}}</a><br/>
                                            <a href="views/products.html" class="category">{{getRelatedProdcut.category}}</a>
                                            <p class="price">{{getRelatedProdcut.price | currency}}</p>
                                        </div>
                                    </li>											
                                </ul>
                            </div>
                            <div class="item">
                                <ul class="thumbnails listing-products">
                                    <li class="span3" ng-repeat="getRelatedProdcut in getRelatedProdcuts" ng-if="$index >3 && $index!==getAllProducts.id">
                                        <div class="product-box">
                                            <span class="sale_tag"></span>												
                                            <a ui-sref="app.productDetail({type: productType ,id: getRelatedProdcut.id})"><img alt="{{getRelatedProdcut.id}}" ng-src="{{getRelatedProdcut.image}}"></a><br/>
                                            <a ui-sref="app.productDetail({type: productType ,id: getRelatedProdcut.id})" class="title">{{getRelatedProdcut.title}}</a><br/>
                                            <a href="views/products.html" class="category">{{getRelatedProdcut.category}}</a>
                                            <p class="price">{{getRelatedProdcut.price | currency}}</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="span3 col">
            <div class="block">	
                <ul class="nav nav-list">
                    <li class="nav-header">SUB CATEGORIES</li>
                    <li><a href="products.html">Nullam semper elementum</a></li>
                    <li class="active"><a href="products.html">Phasellus ultricies</a></li>
                    <li><a href="products.html">Donec laoreet dui</a></li>
                    <li><a href="products.html">Nullam semper elementum</a></li>
                    <li><a href="products.html">Phasellus ultricies</a></li>
                    <li><a href="products.html">Donec laoreet dui</a></li>
                </ul>
                <br/>
                <ul class="nav nav-list below">
                    <li class="nav-header">MANUFACTURES</li>
                    <li><a href="products.html">Adidas</a></li>
                    <li><a href="products.html">Nike</a></li>
                    <li><a href="products.html">Dunlop</a></li>
                    <li><a href="products.html">Yamaha</a></li>
                </ul>
            </div>
            <div class="block">
                <h4 class="title">
                    <span class="pull-left"><span class="text">Randomize</span></span>
                    <span class="pull-right">
                        <a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
                    </span>
                </h4>
                <div id="myCarousel" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="active item">
                            <ul class="thumbnails listing-products">
                                <li class="span3">
                                    <div class="product-box">
                                        <span class="sale_tag"></span>												
                                        <a href="product_detail.html"><img alt="" src="themes/images/ladies/7.jpg"></a><br/>
                                        <a href="product_detail.html" class="title">Fusce id molestie massa</a><br/>
                                        <a href="#" class="category">Suspendisse aliquet</a>
                                        <p class="price">$261</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="item">
                            <ul class="thumbnails listing-products">
                                <li class="span3">
                                    <div class="product-box">												
                                        <a href="product_detail.html"><img alt="" src="themes/images/ladies/8.jpg"></a><br/>
                                        <a href="product_detail.html" class="title">Tempor sem sodales</a><br/>
                                        <a href="#" class="category">Urna nec lectus mollis</a>
                                        <p class="price">$134</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block">								
                <h4 class="title"><strong>Best</strong> Seller</h4>								
                <ul class="small-product">
                    <li>
                        <a href="#" title="Praesent tempor sem sodales">
                            <img src="themes/images/ladies/1.jpg" alt="Praesent tempor sem sodales">
                        </a>
                        <a href="#">Praesent tempor sem</a>
                    </li>
                    <li>
                        <a href="#" title="Luctus quam ultrices rutrum">
                            <img src="themes/images/ladies/2.jpg" alt="Luctus quam ultrices rutrum">
                        </a>
                        <a href="#">Luctus quam ultrices rutrum</a>
                    </li>
                    <li>
                        <a href="#" title="Fusce id molestie massa">
                            <img src="themes/images/ladies/3.jpg" alt="Fusce id molestie massa">
                        </a>
                        <a href="#">Fusce id molestie massa</a>
                    </li>   
                </ul>
            </div>
        </div>
    </div>
</section>
 </div>   
<script src="themes/js/common.js"></script>
<script>
    $(function () {
        $('#myTab a:first').tab('show');
        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        })
    })
    $(document).ready(function () {
        $('.thumbnail').fancybox({
            openEffect: 'none',
            closeEffect: 'none'
        });

        $('#myCarousel-2').carousel({
            interval: 2500
        });
    });
</script>
